{% extends '/layout-bootstrap.html.twig' %}

{% block body %}
<div class="row">
    <div class="span12">
        <p class="blurb well">
            Welcome to Joind.in! This is the site where event attendees can leave
            feedback on an event and its sessions.<br/>
            Do you have an opinion? Then <a href="/user/register">register an account</a>
            and share it!
        </p>
    </div>
</div>

<div class="row highlights">
    <div class="span4">
        <div>
            <h2><i class="icon-calendar"></i> Upcoming events</h2>
            {% for event in upcoming_events %}
            {% include 'events/_summary.html.twig' %}
            {% endfor %}
        </div>
    </div>
    <div class="span4">
        <div>
            <h2><i class="icon-fire"></i> Hot events</h2>
            {% for event in hot_events %}
            {% include 'events/_summary.html.twig' %}
            {% endfor %}
        </div>
    </div>
    <div class="span4">
        <div>
            <h2><i class="icon-fire"></i> Popular talks</h2>
            {% include 'Talks/_summary.html.twig' %}
        </div>
    </div>
</div>

{% endblock %}

{% block sidebar %}
        <div class="box">
            <h4>Sign in</h4>

            <div class="ctn">

                <form action="https://joind.in/user/login" method="post" class="form-login">
                    <div class="row">
                        <label for="sidebar_user">Username</label>
                        <input type="text" name="user" value="" id="sidebar_user" />

                        <div class="clear"></div>
                    </div>

                    <div class="row">
                        <label for="sidebar_pass">Password</label>
                        <input type="password" name="pass" value="" id="sidebar_pass" />

                        <div class="clear"></div>
                    </div>

                    <div class="row row-buttons">
                        <input type="submit" name="sub" value="Login" class="btn" /> <!-- <a style="margin-left:10px" href="/user">Forgot your password?</a> -->
                    </div>

                </form>
                <p>
                    Or login via these services:<br />
                    <a href="/twitter/request_token"><img src="/inc/img/signin_twitter.png" alt="Sign in with twitter" title="Sign in with twitter" /></a>
                </p>

                <p>
                    <a href="/facebook/request_token"><img src="/inc/img/signin_facebook.png" alt="Sign in with Facebook" title="Sign in with Facebook" /></a>
                </p>

                <p>
                    <small>Need an account?
                        <a href="/user/register">Register now!</a></small>
                    <br />
                    <small><a href="/user/forgot">Forgot Password</a></small>
                </p>
            </div>
        </div>
        <div class="box" align="center">
            <a href="http://www.combell.com/en" title="Cloud hosting Combell"><img src="/inc/img/LOGO-COMBELL.png" border="0" style="padding-bottom:5px" alt="Combell" height="55" width="200"></a><br />
            <a href="http://www.combell.com/en/servers/cloud-server" title="Cloud servers & cloud hosting">Cloud server</a>
            <a href="http://www.combell.com/en" title="Hosting & webhosting">hosting</a> by Combell
        </div>
        <div class="box">
            <h4>Submit your event</h4>

            <div class="ctn">
                <p>
                    Know of an event happening? Let us know! We love to get the word out about events the community would be interested in and you can help us spread the word! </p>

                <p style="text-align:center">
                    <a href="/event/submit" class="btn-big">Submit your event!</a>
                </p>
            </div>

        </div>
        <div class="box">
            <h4>Currently Open Call for Papers</h4>

            <div class="ctn">
                <ul>
                    <li><a href="/event/view/904">PFCongres 2012</a>
                </ul>
                <div style="padding-left:20px">
                    <a href="/event/callforpapers">more...</a></div>
            </div>
        </div>
{% endblock %}